<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div th:fragment="quan-ly-lop-hoc-lai" style="min-height: 600px; background: #e6e6e6" class="w-12/12 mx-auto pt-10">
    <div class="w-11/12 mx-auto">
        <div class="flex justify-center mt-10">
            <button id="myBtn"
                    class="content-left rounded font-bold w-48 h-9 mr-96  text-white transition duration-300">
                Tạo lớp học lại
            </button>

            <form>
                <div class="justify-self-end">
                    <div class="relative border border-gray-500 bg-white xl:rounded-xl xl:h-8 xl:w-48 lg:h-7 lg:w-64 mb-5 rounded-md w-full h-7 lg:rounded-lg flex ml-96 mr-6">
                        <input type="search" placeholder="Tìm kiếm" class="w-5/6 ml-1 pl-3 outline-none font-bold"
                               name="search"
                               th:value="${search}">
                        <button>
                            <svg xmlns="http://www.w3.org/2000/svg" class="xl:h-6 xl:w-6 lg:w-5 lg:w-5 w-6 w-6"
                                 fill="none"
                                 viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <table class="w-full tableRounded mt-1">
            <thead>
            <tr class=" text-white " style="background: #4A96CA">
                <th>STT</th>
                <th>Tên Lớp</th>
                <th>Mã lớp</th>
                <th>Môn học</th>
                <th>Sinh viên</th>
                <th>Giảng viên</th>
                <th>Trạng thái</th>
                <th>Sửa</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item,index : ${findAll}">
                <td th:text="${(page.currentPage -1)*page.pageSize+(index.count)}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.maLop}"></td>
                <td th:text="${item.ctdtSubjectName}"></td>
                <td th:text="${item.courseClassName}"></td>
                <td th:text="${item.teacherName}"></td>
                <td>
                    <div th:if="${!item.lopThiXong}" id="modalShow" class="modal pt-20 z-50 modalViewMess">
                        <!-- Modal content -->

                        <div class="modal-content w-6/12 mx-auto my-10">
                            <div class="modal-header h-14 w-full flex justify-between items-center px-10">
                                <label class="text-xl ">Thông báo xác nhận</label>
                                <button><span class="closeModal  transition duration-300">&times;</span></button>
                            </div>
                            <div class="modal-body p-10">
                                <div>
                                    <div>
                                        <label class="text-xl ">Bạn có muốn xác nhận lớp đã thi xong ? <label
                                        ></label> </label>
                                    </div>
                                    <div class="flex justify-end mt-10">
                                        <div>
                                            <form th:action="'/updateStatus/' + ${item.id}" th:method="PUT">
                                                <button id="myBtn"
                                                        class="content-left rounded font-bold w-32 h-10 mr-40 text-white transition duration-300">
                                                    Xác nhận
                                                </button>
                                            </form>
                                        </div>
                                        <div
                                                onclick="closeModal()"
                                                class="closeModal flex justify-center items-center cursor-pointer
                                                    w-28 rounded h-10 border border-black mr-5 hover:bg-gray-200 transition duration-300
                                        ">Hủy
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>

                        <button id="myBtn" th:if="${!item.lopThiXong}"
                                class="content-left rounded font-bold w-28 h-6  text-white transition duration-300 showMess">
                            Chưa thi
                        </button>
                        <button th:if="${item.lopThiXong}"
                                class="bg-gray-300 content-left rounded font-bold w-28 h-6  text-stone-800 transition duration-300 showMess">
                            Đã thi xong
                        </button>

                    </div>
                </td>
                <td>
                    <div class=" rounded-full relative menu2 flex justify-center items-center">
                        <img src="https://img.icons8.com/external-tanah-basah-basic-outline-tanah-basah/24/000000/external-setting-essentials-tanah-basah-basic-outline-tanah-basah.png"/>

                        <div class="w-20 absolute right-22 top-8 menu2Child flex bg-blue-300 z-20 rounded-md">
                            <svg
                                    th:data-url="${'/quan-ly-lop-hoc-lai/' + item.id + '/' + item.ctdtSubjectId}"
                                    xmlns="http://www.w3.org/2000/svg" class="mx-auto edit" width="24" height="24"
                                    viewBox="0 0 24 24"
                                    style="fill: rgba(0, 0, 0, 1);">
                                <path d="m16 2.012 3 3L16.713 7.3l-3-3zM4 14v3h3l8.299-8.287-3-3zm0 6h16v2H4z"></path>
                            </svg>
                            <form action="/deleteCtdtSubjectClass" th:method="DELETE">
                                <input type="hidden" name="id" th:value="${item.id}">
                                <button type="submit">
                                    <img src="https://img.icons8.com/material-rounded/24/000000/filled-trash.png"
                                         class="pr-3"/>
                                </button>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
            <tr th:if="${#lists.isEmpty(findAll)}">
                <td colspan="7">Không có dữ liệu</td>
            </tr>
            </tbody>
        </table>

        <div th:replace="~{fragment/common/home/phan-pages :: page}"></div>

        <div id="modalCreate" class="modal pt-20 z-50">

            <!-- Modal content -->
            <div class="modal-content w-6/12 mx-auto my-10">
                <div class="modal-header h-14 w-full flex justify-between items-center px-10">
                    <div class="text-xl ">Tạo lớp học lại</div>
                    <button><span class="closeModal  transition duration-300">&times;</span></button>
                </div>

                <form method="POST" action="/createClassRetest" onsubmit="return checkValidate()">
                    <div class="modal-body p-10">
                        <div class="flex justify-between">
                            <!--                        //Tên-->
                            <div class="w-2/3">
                                <label class="font-medium mr-28">Tên Lớp</label>
                                <div>
                                    <input id="name" type="text" name="name" class="mb-4 shadow appearance-none border rounded w-11/12  py-2 px-3 text-gray-700
                                leading-tight focus:outline-none focus:shadow-outline"/>
                                    <div class="text-sm text-red-600" id="errName"></div>
                                </div>
                            </div>
                            <!--                        //Mã sinh viên-->
                            <div class="w-2/3">
                                <label class="font-medium mr-28">Mã Lớp</label>
                                <div>
                                    <input id="maLop" type="text" name="maLop" class="mb-4 shadow appearance-none border rounded w-11/12  py-2 px-3 text-gray-700
                                leading-tight focus:outline-none focus:shadow-outline"/>
                                    <div class="text-sm text-red-600" id="errMaLop"></div>
                                </div>
                            </div>
                        </div>

                        <div class="flex justify-between">
                            <!--                        //Tên-->
                            <div class="w-2/3">
                                <label class="font-medium mr-28">Tên ngành</label>
                                <div>
                                    <select id="majorId" class="mb-4 shadow appearance-none border rounded w-11/12  py-2 px-3 text-gray-700
                                leading-tight focus:outline-none focus:shadow-outline" name="majorId"
                                    >
                                        <option value="" hidden>Chọn ngành</option>
                                        <th:block th:each="item,index : ${nganh}">
                                            <option th:value="${item.id}" th:text="${item.name}"
                                                    th:selected="${majorId == item.id ? true : false}"></option>
                                        </th:block>
                                        </th:bock>
                                    </select>
                                    <div class="text-sm text-red-600" id="errMajor"></div>
                                </div>
                            </div>

                            <div class="w-2/3">
                                <label class="font-medium mr-28">Tên chương trình</label>
                                <div>
                                    <select id="ctdtId" class="mb-4 shadow appearance-none border rounded w-11/12  py-2 px-3 text-gray-700
                                leading-tight focus:outline-none focus:shadow-outline" name="ctdtId"
                                    >
                                        <option value="" hidden>Chọn chương trình</option>
                                        <th:bock th:if="${dataCtdt != null && #lists.size(dataCtdt) > 0}">
                                            <th:block th:each="item,index : ${dataCtdt}">
                                                <option th:value="${item.id}" th:text="${item.name}"
                                                        th:selected="${ctdtIds == item.id ? true : false}"></option>
                                            </th:block>
                                        </th:bock>
                                    </select>
                                    <div class="text-sm text-red-600" id="errCtdt"></div>
                                </div>
                            </div>
                        </div>

                        <div class="flex justify-between">
                            <!--                        //Tên-->
                            <div class="w-2/3">
                                <label class="font-medium mr-28">Sinh viên</label>
                                <div>
                                    <select id="studentIds" class="mb-4 shadow appearance-none border rounded w-11/12  py-2 px-3 text-gray-700
                                leading-tight focus:outline-none focus:shadow-outline" name="studentIds"
                                    >
                                        <option value="" hidden>Chọn sinh viên</option>
                                        <th:bock th:if="${dataStudent != null && #lists.size(dataStudent) > 0}">
                                            <th:block th:each="item,index : ${dataStudent}">
                                                <option th:value="${item.studentId}" th:text="${item.studentName}"
                                                        th:selected="${studentIds == item.id ? true : false}"></option>
                                            </th:block>
                                        </th:bock>
                                    </select>
                                    <div class="text-sm text-red-600" id="errStudent"></div>
                                </div>
                            </div>

                            <div class="w-2/3">
                                <label class="font-medium mr-28">Tên môn thuộc chương trình</label>
                                <div>
                                    <select id="subjectIds" class="mb-4 shadow appearance-none border rounded w-11/12  py-2 px-3 text-gray-700
                                leading-tight focus:outline-none focus:shadow-outline" name="ctdtSubjectId"
                                    >
                                        <option value="" hidden>Chọn môn</option>
                                        <th:bock th:if="${dataSubject != null && #lists.size(dataSubject) > 0}">
                                            <th:block th:each="item,index : ${dataSubject}">
                                                <option th:value="${item.id}" th:text="${item.ctdtSubjectName}"
                                                        th:selected="${subjectIds == item.id ? true : false}"></option>
                                            </th:block>
                                        </th:bock>
                                    </select>
                                    <div class="text-sm text-red-600" id="errSubject"></div>
                                </div>
                            </div>
                        </div>

                        <div class="flex justify-between">
                            <!--                        //Tên-->
                            <div class="w-2/3">
                                <label class="font-medium mr-28">Ghi chú</label>
                                <div>
                                    <input id="note" type="text" name="note" class="mb-4 shadow appearance-none border rounded w-11/12  py-2 px-3 text-gray-700
                                leading-tight focus:outline-none focus:shadow-outline"/>
                                    <div class="text-sm text-red-600" id="errName"></div>
                                </div>
                            </div>

                            <div class="w-2/3">
                                <label class="font-medium mr-28">Tên giảng viên</label>
                                <div>
                                    <select id="teacherIds" class="mb-4 shadow appearance-none border rounded w-11/12  py-2 px-3 text-gray-700
                                leading-tight focus:outline-none focus:shadow-outline" name="teacherId">
                                        <option value="" hidden>Chọn giảng viên</option>
                                        <th:bock th:if="${dataTeacher != null && #lists.size(dataTeacher) > 0}">
                                            <th:block th:each="item,index : ${dataTeacher}">
                                                <option th:value="${item.teacherId}" th:text="${item.teacherName}"
                                                        th:selected="${teacherIds == item.id ? true : false}"></option>
                                            </th:block>
                                        </th:bock>
                                    </select>
                                    <div class="text-sm text-red-600" id="errTeacher"></div>
                                </div>
                            </div>
                        </div>

                        <div class="flex justify-end mt-10">
                            <div
                                    onclick="closeModal()"
                                    class="closeModal flex justify-center items-center cursor-pointer w-28 rounded h-10 border border-black mr-5 hover:bg-gray-200 transition duration-300
                                        ">Hủy
                            </div>

                            <button class="w-28 rounded h-10 border border-black text-white btnSubmit transition duration-300"
                                    id="submit">
                                Gửi
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <section aria-label="modalEdit" class="">
        <div id="modalEdit"
             class="hidden fixed pt-20 top-0 left-0 w-full h-full bg-opacity-50 bg-gray-900 overflow-y-scroll">
        </div>
    </section>
    <script>
        $('.showMess').click(function () {
            $(this).parent().parent().find(".modalViewMess").show()
            // $('#modalShow').css('display','block')
            $('body,html').css('overflow', 'hidden');
        })


        $('.edit').click(function () {
            $.ajax({
                url: $(this).data('url'),
                method: 'GET',
                success: function (p) {
                    $('#modalEdit').html('')
                    $('#modalEdit').html(p)
                }
            })

        })



        //ajax lấy ctdt theo nganh
        $('#majorId').change(function () {
            var htmlCtdt = '<option value="0" hidden>--Chọn chương trình--</option>';

            $.ajax({
                url: "/getCtdt/" + $(this).val(),
                // data: {courseId: $(this).val()},
                success: function (e) {
                    $.each(e, function (idex, items) {
                        htmlCtdt += '<option value="' + items.id + '">' + items.name + '</option>';
                    })
                    $('#ctdtId').html(htmlCtdt);
                }
            })
        })

        //ajax lấy lớp chung theo ctdt
        $('#ctdtId').change(function () {
            var htmlStudent = '';

            $(document).ready(function () {
                $('#studentIds').select2({
                    placeholder: "Chọn Sinh viên",
                    allowClear: true
                });
            });
            $.ajax({
                url: "/getStudentRetest/" + $(this).val(),
                // data: {courseId: $(this).val()},
                success: function (e) {
                    $.each(e, function (idex, items) {
                        htmlStudent += '<option value="' + items.id + '">' + items.fullName + '</option>';
                    })
                    $('#studentIds').html(htmlStudent);
                }
            })
        })

        //ajax lấy môn theo ctdt
        $('#ctdtId').change(function () {
            var htmlSubject = '<option value="0" hidden>--Chọn môn--</option>';

            $.ajax({
                url: "/getSubject/" + $(this).val(),
                // data: {courseId: $(this).val()},
                success: function (e) {
                    $.each(e, function (idex, items) {
                        htmlSubject += '<option value="' + items.id + '">' + items.subjectName + '</option>';
                    })
                    $('#subjectIds').html(htmlSubject);
                }
            })
        })

        //ajax lấy giảng viên theo ctdt
        $('#subjectIds').change(function () {
            var htmlTeacher = '<option value="0" hidden>--Chọn giảng viên--</option>';
            // console.log()
            $.ajax({
                url: "/getTeacher/" + $(this).val(),
                // data: {courseId: $(this).val()},
                success: function (e) {
                    $.each(e, function (idex, items) {
                        htmlTeacher += '<option value="' + items.teacherId + '">' + items.teacherName + '</option>';
                    })
                    $('#teacherIds').html(htmlTeacher);
                }
            })
        })
    </script>
</div>
</body>
</html>