<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="quan-ly-lop" style="min-height: 600px" class="w-12/12 mx-auto pt-10">
    <div class="w-11/12 mx-auto">
        <div class="flex justify-center mt-10">
            <button id="myBtn"
                    class="content-left rounded font-bold w-44 h-9 mr-96  text-white transition duration-300">
                Thêm lớp
            </button>
            <form>
                <div class="justify-self-end">
                    <div class="relative border border-gray-500 bg-white xl:rounded-xl xl:h-8 xl:w-48 lg:h-7 lg:w-64 mb-5 rounded-md w-full h-7 lg:rounded-lg flex ml-96 mr-6">
                        <input type="search" placeholder="Tìm kiếm" class="w-5/6 ml-1 pl-3 outline-none font-bold"
                               name="search"
                               th:value="${search}">
                        <button>
                            <svg xmlns="http://www.w3.org/2000/svg" class="xl:h-6 xl:w-6 lg:w-5 lg:w-5 w-6 w-6"
                                 fill="none"
                                 viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <table class="w-full tableRounded mt-1">
            <thead>
            <tr class=" text-white " style="background: #4A96CA">
                <th>STT</th>
                <th>Tên lớp</th>
                <th>Tên khóa</th>
                <th>Tên ngành</th>
                <th>Sửa</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item,index : ${findAll}">
                <td th:text="${(page.currentPage -1)*page.pageSize+(index.count)}"></td>
                <td th:text="${item.name}"></td>
                <td th:text="${item.courseName}"></td>
                <td th:text="${item.majorName}"></td>
                <td>
                    <svg xmlns="http://www.w3.org/2000/svg" class="mx-auto edit" width="24" height="24"
                         viewBox="0 0 24 24"
                         style="fill: rgba(0, 0, 0, 1);">
                        <path d="m16 2.012 3 3L16.713 7.3l-3-3zM4 14v3h3l8.299-8.287-3-3zm0 6h16v2H4z"></path>
                    </svg>
                </td>
            </tr>
            <tr th:if="${#lists.isEmpty(findAll)}">
                <td colspan="5">Không có dữ liệu</td>
            </tr>
            </tbody>
        </table>
        <div id="modalCreate" class="modal pt-20 z-50">

            <!-- Modal content -->
            <div class="modal-content w-6/12 mx-auto my-10">
                <div class="modal-header h-14 w-full flex justify-between items-center px-10">
                    <div class="text-xl ">Thêm lớp</div>
                    <button><span class="closeModal  transition duration-300">&times;</span></button>
                </div>

                <form method="POST" enctype="/createGrade">
                    <div class="modal-body p-10">

                        <div class="flex justify-between">
                            <!--                        //Tên-->
                            <div class="w-2/3">
                                <label for="ten_loi_moi" class="font-medium mr-28">Tên Ngành</label>
                                <div>
                                    <!--                                    <input id="ten_loi_moi" type="text" name="callName" class="mb-4 shadow appearance-none border rounded w-11/12  py-2 px-3 text-gray-700-->
                                    <!--                                leading-tight focus:outline-none focus:shadow-outline"/>-->

                                    <select class="mb-4 shadow appearance-none border rounded w-11/12  py-2 px-3 text-gray-700
                                leading-tight focus:outline-none focus:shadow-outline">
                                        <option>Lập trình máy tính</option>
                                        <option>Quản trị mạng</option>
                                    </select>
                                </div>
                            </div>
                            <!--                        //Mã sinh viên-->
                            <div class="w-1/3">
                                <label for="ten_loi_moi" class="font-medium mr-28">Tên khóa</label>
                                <div>
                                    <!--                                    <input id="ten_loi_moi" type="text" name="callName" class="mb-4 shadow appearance-none border rounded w-full  py-2 px-3 text-gray-700-->
                                    <!--                                leading-tight focus:outline-none focus:shadow-outline"/>-->
                                    <select class="mb-4 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700
                                leading-tight focus:outline-none focus:shadow-outline">
                                        <option>khóa 10</option>
                                        <option>khóa 11</option>
                                        <option>khóa 12</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!--                        //Email-->
                        <div>
                            <label for="ten_loi_moi" class="font-medium mr-28">Tên lớp</label>
                            <div>
                                <input id="ten_loi_moi" type="text" name="callName" class="mb-4 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700
                                leading-tight focus:outline-none focus:shadow-outline"/>
                            </div>
                        </div>

                        <div class="flex justify-end mt-10">
                            <div
                                    onclick="closeModal()"
                                    class="closeModal flex justify-center items-center cursor-pointer w-28 rounded h-10 border border-black mr-5 hover:bg-gray-200 transition duration-300
                                        ">Hủy
                            </div>

                            <button class="w-28 rounded h-10 border border-black text-white btnSubmit transition duration-300"
                                    id="submit">
                                Gửi
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div id="modalEdit" class="modal pt-20 z-50">

            <!-- Modal content -->
            <div class="modal-content w-6/12 mx-auto my-10">
                <div class="modal-header h-14 w-full flex justify-between items-center px-10">
                    <div class="text-xl ">Sửa lớp</div>
                    <button><span class="closeModal  transition duration-300">&times;</span></button>
                </div>

                <form method="POST" enctype="/updateGrade">
                    <div class="modal-body p-10">

                        <div class="flex justify-between">
                            <div class="w-2/3">
                                <label for="ten_loi_moi" class="font-medium mr-28">Tên Ngành</label>
                                <div>
                                    <select class="mb-4 shadow appearance-none border rounded w-11/12  py-2 px-3 text-gray-700
                                leading-tight focus:outline-none focus:shadow-outline" name="majorName">
                                        <option>Lập trình máy tính</option>
                                        <option>Quản trị mạng</option>
                                    </select>
                                    <input type="hidden" id="nameNganh">
                                </div>
                            </div>

                            <div class="w-1/3">
                                <label for="ten_loi_moi" class="font-medium mr-28">Tên khóa</label>
                                <div>
                                    <!--                                    <input id="ten_loi_moi" type="text" name="callName" class="mb-4 shadow appearance-none border rounded w-full  py-2 px-3 text-gray-700-->
                                    <!--                                leading-tight focus:outline-none focus:shadow-outline"/>-->
                                    <select class="mb-4 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700
                                leading-tight focus:outline-none focus:shadow-outline" name="courseName">
                                        <option>khóa 10</option>
                                        <option>khóa 11</option>
                                        <option>khóa 12</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div>
                            <label for="ten_loi_moi" class="font-medium mr-28">Tên lớp</label>
                            <div>
                                <input id="updateLop" type="text" class="mb-4 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700
                                leading-tight focus:outline-none focus:shadow-outline" name="name"/>
                                <input type="hidden" id="idLop" name="id">
                            </div>
                        </div>

                        <div class="flex justify-end mt-10">
                            <div
                                    onclick="closeModal()"
                                    class="closeModal flex justify-center items-center cursor-pointer w-28 rounded h-10 border border-black mr-5 hover:bg-gray-200 transition duration-300
                                        ">Hủy
                            </div>

                            <button class="w-28 rounded h-10 border border-black text-white btnSubmit transition duration-300"
                                    id="submit">Gửi
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        $('.edit').click(function () {
            $('#updateLop').val($(this).data('nameLop'))
            $('#idLop').val($(this).data('idLop'))
        })

        function closeModal() {
            var modalClose = document.getElementById("myModal");
            console.log(123)
            modalClose.style.display = "none";
        }
    </script>
</div>
</body>
</html>