<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="quan-ly-diem" style="min-height: 600px" class="w-12/12 mx-auto pt-10">
    <div class="w-11/12 mx-auto">
        <div class="flex justify-center mt-10">
            <button id="myBtn"
                    class="content-left rounded font-bold w-44 h-9 mr-24  text-white transition duration-300">
                Thêm điểm
            </button>
            <form class="flex">
                <div class="mr-2 lg:flex text-center xl:text-base  ">
                    <div class="lg:mt-1 text-base mt-4 mr-1 text-bold"></div>

                    <select name="courseClassId"
                            class="xl:text-sm lg:text-xs text-base border border-gray-500 pl-3 xl:h-8 xl:w-32 lg:h-7 lg:w-24 h-8 w-32 rounded"
                            onchange="this.form.submit()">
                        <option value="0" hidden>--Chọn lớp--</option>
                        <th:block th:each="item,index : ${lop}">
                            <option th:value="${item.id}" th:text="${item.name}"
                                    th:selected="${courseClassId == item.id ? true : false}"></option>
                        </th:block>
                    </select>
                </div>

                <div class="mr-8 lg:flex text-center xl:text-base  ">
                    <div class="lg:mt-1 text-base mt-4 mr-1 text-bold"></div>
                    <select name="ctdtSubjectId"
                            class="xl:text-sm lg:text-xs text-base border border-gray-500 pl-3 xl:h-8 xl:w-40 lg:h-7 lg:w-24 h-8 w-32 rounded"
                            onchange="this.form.submit()">
                        <option value="0" hidden>--Chọn môn--</option>
<!--                        <th:bock th:if="${dataMons != null && #lists.size(dataMons) > 0}">-->
                            <th:block th:each="item,index : ${mon}">
                                <option th:value="${item.id}" th:text="${item.name}"
                                        th:selected="${ctdtSubjectId == item.id ? true : false}"></option>
                            </th:block>
<!--                        </th:bock>-->
                    </select>
                </div>

                <div class="mr-2 lg:flex text-center xl:text-base ml-36">
                    <div class="lg:mt-1 text-base mt-4 mr-1 text-bold"></div>

                    <select name="status"
                            id="status"
                            class="xl:text-sm lg:text-xs text-base border border-gray-500 pl-3 xl:h-8 xl:w-40 lg:h-7 lg:w-48 h-8 w-52 rounded"
                            onchange="this.form.submit()">
                        <option value="0" hidden>--Chọn kết quả--</option>
                        <option th:value="1" th:selected="${status} == 1 ? true : false">Qua môn</option>
                        <option th:value="2" th:selected="${status} == 2 ? true : false">Thi lại</option>
                        <option th:value="3" th:selected="${status} == 3 ? true : false">Học lại</option>
                        </th:block>
                    </select>
                </div>

                <div class="justify-self-end">
                    <div class="relative border border-gray-500 bg-white xl:rounded-xl xl:h-8 xl:w-48 lg:h-7 lg:w-64 mb-5 rounded-md w-full h-7 lg:rounded-lg flex ml-10 mr-6">
                        <input type="search" placeholder="Tìm kiếm" class="w-5/6 ml-1 pl-3 outline-none font-bold"
                               name="search"
                               id="search"
                               th:value="${search}">
                        <button>
                            <svg xmlns="http://www.w3.org/2000/svg" class="xl:h-6 xl:w-6 lg:w-5 lg:w-5 w-6 w-6"
                                 fill="none"
                                 viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <table class="w-full tableRounded mt-1">
            <thead>
            <tr class=" text-white " style="background: #4A96CA">
                <th>STT</th>
                <th>Lớp</th>
                <th>Sinh viên</th>
                <th>Môn</th>
                <th>Lý thuyết 1</th>
                <th>Thực hành 1</th>
                <th>Lý thuyết 2</th>
                <th>Thực hành 2</th>
                <th>Kết quả</th>
                <th>Sửa</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item,index : ${findAll}">
                <td th:text="${(page.currentPage -1)*page.pageSize+(index.count)}"></td>
                <td th:text="${item.ctdtSubjectClassName}"></td>
                <td th:text="${item.studentName}"></td>
                <td th:text="${item.subjectName}"></td>
                <td th:text="${item.theory1}"></td>
                <td th:text="${item.skill1}"></td>
                <td th:text="${item.theory2}"></td>
                <td th:text="${item.skill2}"></td>
                <td th:text="${item.status} == 1 ? 'Qua môn' : (${item.status} == 2 ? 'Thi lại' : 'Học lại')"></td>
                <td>
                    <div class=" rounded-full relative menu2 flex justify-center items-center">
                        <img src="https://img.icons8.com/external-tanah-basah-basic-outline-tanah-basah/24/000000/external-setting-essentials-tanah-basah-basic-outline-tanah-basah.png"/>

                        <div class="w-20 absolute right-22 top-8 menu2Child flex bg-blue-300 z-20 rounded-md">
                            <svg
                                    th:data-url="${'/quan-ly-diem/' + item.id}"
                                    xmlns="http://www.w3.org/2000/svg" class="mx-auto edit" width="24" height="24"
                                    viewBox="0 0 24 24"
                                    style="fill: rgba(0, 0, 0, 1);">
                                <path d="m16 2.012 3 3L16.713 7.3l-3-3zM4 14v3h3l8.299-8.287-3-3zm0 6h16v2H4z"></path>
                            </svg>
                            <form action="/deleteMark" th:method="DELETE">
                                <input type="hidden" name="id" th:value="${item.id}">
                                <button type="submit">
                                    <img src="https://img.icons8.com/material-rounded/24/000000/filled-trash.png"
                                         class="pr-3"/>
                                </button>
                            </form>
                        </div>
                    </div>
                </td>
            </tr>
            <tr th:if="${#lists.isEmpty(findAll)}">
                <td colspan="10">Không có dữ liệu</td>
            </tr>
            </tbody>
            </tbody>
        </table>

        <div th:replace="~{fragment/common/home/phan-pages :: page}"></div>

        <div id="modalCreate" class="modal pt-20 z-50">

            <!-- Modal content -->
            <div class="modal-content w-6/12 mx-auto my-10">
                <div class="modal-header h-14 w-full flex justify-between items-center px-10">
                    <div class="text-xl ">Thêm điểm</div>
                    <button><span class="closeModal transition duration-300">&times;</span></button>
                </div>

                <form method="POST" action="/createMark" onsubmit="return checkValidate()">
                    <div class="modal-body p-10">

                        <div class="flex justify-between mb-5">

                            <div class="w-1/3">
                                <label class="font-medium mr-36">Tên Lớp</label>
                                <div>
                                    <select id="classId" class="mb-1 shadow appearance-none border rounded w-60 mr-24  py-2 px-3 text-gray-700
                                leading-tight focus:outline-none focus:shadow-outline" name="ctdtSubjectClassId">
                                        <option value="" hidden>Chọn lớp</option>
                                        <th:block th:each="item,index : ${lop}">
                                            <option th:value="${item.id}" th:text="${item.name}"
                                                    th:selected="${ctdtSubjectClassId == item.id ? true : false}"></option>
                                        </th:block>
                                    </select>
                                    <div class=" text-sm text-red-600" id="errGrade"></div>
                                </div>
                            </div>

                            <div class="w-2/3">
                                <label class="font-medium ml-32">Tên sinh viên</label>
                                <div>
                                    <select id="studentId" class="mb-1 shadow appearance-none border rounded w-80 ml-32 py-2 px-3 text-gray-700
                                leading-tight focus:outline-none focus:shadow-outline" name="studentId">
                                        <option value="" hidden>Chọn sinh viên</option>
                                        <th:bock th:if="${dataStudent != null && #lists.size(dataStudent) > 0}">
                                            <th:block th:each="item,index : ${dataStudent}">
                                                <option th:value="${item.id}" th:text="${item.fullName}"
                                                        th:selected="${studentId == item.id ? true : false}"></option>
                                            </th:block>
                                        </th:bock>
                                    </select>
                                    <div class="text-sm text-red-600 ml-32" id="errStudent"></div>
                                </div>
                            </div>
                        </div>

                        <div class="flex justify-between">
                            <div class="w-2/3 mb-5">
                                <label class="font-medium mr-28">Tên môn</label>
                                <div>
                                    <select id="subjectId" class="mb-1 shadow appearance-none border rounded w-full  py-2 px-3 text-gray-700
                                leading-tight focus:outline-none focus:shadow-outline" >
                                        <option value="" hidden>Chọn môn học</option>
                                        <th:bock th:if="${dataSubject != null && #lists.size(dataSubject) > 0}">
                                            <th:block th:each="item,index : ${dataSubject}">
                                                <option th:value="${item.id}" th:text="${item.name}"></option>
<!--                                                        th:selected="${ctdtSubjectId == item.id ? true : false}"></option>-->
                                            </th:block>
                                        </th:bock>
                                    </select>
                                    <div class="text-sm text-red-600" id="errSubject"></div>
                                </div>
                            </div>
                        </div>

                        <div class="w-2/3 mb-5">
                            <label class="font-medium mr-28">Điểm lý thuyết 1</label>
                            <div>
                                <input id="theory1" type="number" name="theory1" class="mb-1 shadow appearance-none border rounded w-full  py-2 px-3 text-gray-700
                                leading-tight focus:outline-none focus:shadow-outline"/>
                                <div class="text-sm text-red-600" id="errTheory1"></div>
                            </div>
                        </div>

                        <div class="w-2/3 mb-5">
                            <label class="font-medium mr-28">Điểm thực hành 1</label>
                            <div>
                                <input id="skill1" type="number" name="skill1" class="mb-1 shadow appearance-none border rounded w-full  py-2 px-3 text-gray-700
                                leading-tight focus:outline-none focus:shadow-outline"/>
                                <div class="text-sm text-red-600" id="errSkill1"></div>
                            </div>
                        </div>

                        <div class="flex justify-end mt-10">
                            <div
                                    onclick="closeModal()"
                                    class="closeModal flex justify-center items-center cursor-pointer w-28 rounded h-10 border border-black mr-5 hover:bg-gray-200 transition duration-300
                                        ">Hủy
                            </div>

                            <button class="w-28 rounded h-10 border border-black text-white btnSubmit transition duration-300"
                                    id="submit">
                                Gửi
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <section aria-label="modalEdit" class="">
        <div id="modalEdit"
             class="hidden fixed pt-20 top-0 left-0 w-full h-full bg-opacity-50 bg-gray-900 overflow-y-scroll">
        </div>
    </section>

    <script>
        $('.edit').click(function () {
            console.log($(this).data('url'))
            $.ajax({
                url: $(this).data('url'),
                method: 'GET',
                success: function (p) {
                    $('#modalEdit').html('')
                    $('#modalEdit').html(p)
                }
            })

        })

        //ajax lấy sinh viên theo lớp (hàm create)
        $('#classId').change(function () {
            var htmlStudent = '<option value="0" hidden>--Chọn sinh viên--</option>';

            $.ajax({
                url: "/getStudent/" + $(this).val(),
                success: function (e) {

                    $.each(e, function (idex, items) {
                        htmlStudent += '<option value="' + items.id + '">' + items.fullName + '</option>';
                    })
                    $('#studentId').html(htmlStudent);
                }
            })
        })

        //ajax lấy môn theo lớp (hàm create)
        $('#classId').change(function () {
            var htmlSubject = '';

            $.ajax({
                url: "/getSubjectByClass/" + $(this).val(),
                success: function (e) {

                    $.each(e, function (idex, items) {
                        htmlSubject += '<option value="' + items.id + '">' + items.name + '</option>';
                    })
                    $('#subjectId').html(htmlSubject);
                }
            })
        })

        // //ajax lấy môn theo lớp (hàm danh sách)
        // $('#gradeIdsss').change(function () {
        //     var htmlSubject = '<option value="0" hidden>--Chọn môn học--</option>';
        //
        //     $.ajax({
        //         url: "/getSubject/" + $(this).val(),
        //         success: function (e) {
        //
        //             $.each(e, function (idex, items) {
        //                 htmlSubject += '<option value="' + items.id + '">' + items.name + '</option>';
        //             })
        //             $('#subjectIds').html(htmlSubject);
        //         }
        //     })
        // })
        // $('#subjectIds').change(function () {
        //     url = '/quan-ly-diem?'
        //     if ($('#gradeIdsss').val() !== '') {
        //         url += 'courseClassId=' + $('#gradeIdsss').val()
        //     }
        //     if ($('#status').val() !== '') {
        //         url += '&status=' + $('#status').val()
        //     }
        //     if ($('#subjectIds').val() !== '') {
        //         url += '&ctdtSubjectId=' + $('#subjectIds').val()
        //     }
        //     if ($('#search').val() !== '') {
        //         url += '&search=' + $('#search').val()
        //     }
        //
        //     window.location.href = url;
        // })
    </script>

</div>
</body>
</html>