<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="thong-ke" style="min-height: 600px" class="w-12/12 mx-auto pt-10">
    <div class="w-11/12 mx-auto">
        <div class="flex mt-10">

            <div class="mr-8 lg:flex xl:text-base ">
                <div class="lg:mt-1 text-base mt-4 mr-1 text-bold">Khóa</div>
                <select name="courseId" id="courseId"
                        class="xl:text-sm lg:text-xs text-base border border-gray-500 pl-3 xl:h-8 xl:w-32 lg:h-7 lg:w-24 h-8 w-32 rounded">
                    <option value="0" hidden>--Chọn Khóa--</option>
                    <th:block th:each="item,index : ${khoa}">
                        <option th:value="${item.id}" th:text="${item.name}"
                                th:selected="${courseId == item.id ? true : false}"></option>
                    </th:block>
                </select>
            </div>

            <form class="flex">

                <div class="mr-8 lg:flex text-center xl:text-base mr-72 ">
                    <div class="lg:mt-1 text-base mt-4 mr-1 text-bold">Ngành</div>
                    <select name="majorId" id="majorIds"
                            class="xl:text-sm lg:text-xs text-base border border-gray-500 pl-3 xl:h-8 xl:w-40 lg:h-7 lg:w-24 h-8 w-32 rounded"
                            onchange="this.form.submit()">
                        <option value="0" hidden>--Chọn ngành--</option>
                        <th:bock th:if="${dataNganh != null && #lists.size(dataNganh) > 0}">
                            <th:block th:each="item,index : ${dataNganh}">
                                <option th:value="${item.id}" th:text="${item.name}"
                                        th:selected="${majorId == item.id ? true : false}"></option>
                            </th:block>
                        </th:bock>
                    </select>
                </div>

                <div class="justify-self-end">
                    <div class="relative border border-gray-500 bg-white xl:rounded-xl xl:h-8 xl:w-48 lg:h-7 lg:w-64 mb-5 rounded-md w-full h-7 lg:rounded-lg flex ml-60 mr-6">
                        <input type="search" placeholder="Tìm kiếm" class="w-5/6 ml-1 pl-3 outline-none font-bold"
                               name="search"
                               th:value="${search}">
                        <button>
                            <svg xmlns="http://www.w3.org/2000/svg" class="xl:h-6 xl:w-6 lg:w-5 lg:w-5 w-6 w-6"
                                 fill="none"
                                 viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <table class="w-full tableRounded mt-1">
            <thead>
            <tr class=" text-white " style="background: #4A96CA">
                <th>STT</th>
                <th>Tên lớp</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item,index : ${findAll}">
                <td th:text="${(page.currentPage -1)*page.pageSize+(index.count)}"></td>
                <td th:text="${item.name}"></td>
            </tr>
            <tr th:if="${#lists.isEmpty(findAll)}">
                <td colspan="2">Không có dữ liệu</td>
            </tr>
            </tbody>
        </table>

        <div th:replace="~{fragment/common/home/phan-pages :: page}"></div>

    </div>
    <script>
        //ajax lấy ngành theo khóa
        $('#courseId').change(function () {
            var htmlMajor = '<option value="0" hidden>--Chọn ngành--</option>';

            $.ajax({
                url: "/getMajors/" + $(this).val(),
                // data: {courseId: $(this).val()},
                success: function (e) {

                    $.each(e, function (idex, items) {
                        htmlMajor += '<option value="' + items.id + '">' + items.name + '</option>';
                    })
                    $('#majorIds').html(htmlMajor);
                }
            })
        })


    </script>
</div>
</body>
</html>