<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="w-11/12 mx-auto text-center" th:fragment="thong-tin-ca-nhan" style="min-height: 600px">
    <div class="flex">
        <div class="w-2/12">

        </div>
        <div class="h-full w-8/12 rounded-lg bg-white mx-auto mt-10">


            <form  th:method="PUT" action="/updateInfo">
                <div class="w-10/12 mx-auto">
                    <div class="text-xl font-medium" style="color: #15597E">Thông tin cá nhân</div>

                    <div class="flex">
                        <div class="w-1/2 left pr-6">
                            <div class="mt-4">
                                <label>Họ và tên</label>
                                <input id="name" type="text"
                                       class="mt-2 w-5/12 w-full border rounded py-1 px-2 border-gray-500"
                                       placeholder="Họ và tên của bạn" name="fullName" >
<!--                                <input type="hidden" th:value="${data.id}" name="id" >-->
                                <div class="text-sm text-red-600 h-3 err" id="errName"></div>
                            </div>

                            <div class="mt-4">
                                <label for="email">Email</label>
                                <input id="email" type="text"
                                       class="mt-2 w-5/12 w-full border rounded py-1 px-2 border-gray-500"
                                       placeholder="Email của bạn" >
                                <div class="text-sm text-red-600 h-3 err" id="errEmail"></div>
                            </div>

                            <div class="mt-4">
                                <label for="phone">Số điện thoại</label>
                                <input id="phone" type="text"
                                       class="mt-2 w-5/12 w-full border rounded py-1 px-2 border-gray-500"
                                       placeholder="Số điện thoại">
                                <div class="text-sm text-red-600 h-3" id="errPhone"></div>
                            </div>
                        </div>

                        <div class="w-1/2 right pl-6">
                            <div class="mt-4">
                                <label for="diaChi">Địa chỉ</label>
                                <input id="diaChi" type="text"
                                       class="mt-2 w-5/12 w-full border rounded py-1 px-2 border-gray-500"
                                       placeholder="Địa chỉ">
                                <div class="text-sm text-red-600 h-3" id="errDc"></div>
                            </div>

                            <div class="mt-4">
                                <label>Ngày sinh</label>
                                <div>
                                    <input id="birthday" type="date" class="mb-4 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700
                                        leading-tight focus:outline-none focus:shadow-outline" name="birthday"/>
                                    <div class="text-sm text-red-600" id="errBirthday"></div>
                                </div>
                            </div>
                            <div class="mt-4">
                                <label>Giới tính</label>
                                <div class="flex mt-2 ml-16">
                                    <div class="mr-5">
                                        <input type="radio" name="type" class="mr-3 mt-1 outline-none callType"
                                               value="1">Nam
                                    </div>
                                    <div class="ml-5">
                                        <input type="radio" name="type" class="mr-3 mt-1 outline-none callType"
                                               value="0">Nữ
                                    </div>
                                </div>
                                <div class="text-sm text-red-600 h-3" id="errHocVan"></div>
                            </div>
                        </div>
                    </div>

                    <div class="mt-4">
                        <div class="text-xl font-medium" style="color: #15597E">Bảo Mật</div>
                        <div class="flex">
                            <div class="w-1/2 left pr-6">
                                <div class="mt-4">
                                    <label>Mật khẩu cũ</label>
                                    <input  type="text"
                                           class="mt-2 w-5/12 w-full border rounded py-1 px-2 border-gray-500"
                                           placeholder="Tên tài khoản của bạn">
                                </div>
                            </div>
                            <div class="w-1/2 right ml-12 ">
                                <div class="mt-4">
                                    <label>Mật khẩu mới</label>
                                    <input type="text"
                                           class="mt-2 w-5/12 w-full border rounded py-1 px-2 border-gray-500"
                                           placeholder="Tên tài khoản của bạn">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="flex justify-center mt-6 pb-10">
                        <button class="hover:bg-blue-400 px-4 py-1.5 rounded" id="submit"
                                style="background-color: #007DC5 ; color: white">Cập nhật
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div class="w-2/12"></div>
    </div>
    <script>
        $("#doiMk").click(function () {
            if ($(".matKhau").toggle(500)) {
                $("#doiMk").toggleClass("doiMk");
                $("#doiMk").toggleClass("doiMk2");
            }
        });
    </script>
    <style>
        .doiMk:hover {
            color: #007DC5;
        }

        .doiMk2 {
            color: #007DC5;
        }

        input::-ms-reveal,
        input::-ms-clear {
            display: none;
        }
    </style>
    <script th:src="@{/templates/fragment/js/validate/thongTinCaNhan.js}"></script>
</div>
</body>
</html>