<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="thong-ke-diem" style="min-height: 600px" class="w-12/12 mx-auto pt-10">
    <div class="w-11/12 mx-auto">
        <div class="flex justify-center mt-10">

            <form class="flex">

<!--                <div class="mr-48 lg:flex xl:text-base ">-->
<!--                    <div class="lg:mt-1 text-base mt-4 mr-1 text-bold">Môn</div>-->
<!--                    <select name="courseId" id="courseId"-->
<!--                            class="xl:text-sm lg:text-xs text-base border border-gray-500 pl-3 xl:h-8 xl:w-32 lg:h-7 lg:w-24 h-8 w-32 rounded">-->
<!--                        <option value="0" hidden>&#45;&#45;Chọn môn&#45;&#45;</option>-->
<!--                        <th:block th:each="item,index : ${khoa}">-->
<!--                            <option th:value="${item.id}" th:text="${item.name}"-->
<!--                                    th:selected="${courseId == item.id ? true : false}"></option>-->
<!--                        </th:block>-->
<!--                    </select>-->
<!--                </div>-->

                <div class="mr-8 ml-20 lg:flex xl:text-base ">
                    <div class="lg:mt-1 text-base mt-4 ml-72 text-xl text-center w-full">Thống kê điểm theo lớp</div>
                </div>

                <div class="justify-self-end">
                    <div class="relative border border-gray-500 bg-white xl:rounded-xl xl:h-8 xl:w-48 lg:h-7 lg:w-64 mb-5 rounded-md w-full h-7 lg:rounded-lg flex ml-60 mr-6">
                        <input type="search" placeholder="Tìm kiếm" class="w-5/6 ml-1 pl-3 outline-none font-bold"
                               name="search"
                               th:value="${search}">
                        <button>
                            <svg xmlns="http://www.w3.org/2000/svg" class="xl:h-6 xl:w-6 lg:w-5 lg:w-5 w-6 w-6"
                                 fill="none"
                                 viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                      d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <table class="w-full tableRounded mt-1">
            <thead>
            <tr class=" text-white " style="background: #4A96CA">
                <th>STT</th>
                <th>Tên sinh viên</th>
                <th>Mã sinh viên</th>
                <th>Lý thuyết 1</th>
                <th>Thực hành 1</th>
                <th>Lý thuyết 2</th>
                <th>Thực hành 2</th>
                <th>Học lại Lý thuyết</th>
                <th>Học lạiThực hành </th>
                <th>Kết quả</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item,index : ${findAll.markDTOS}" class="trTable bg-white lg:hover:bg-gray-200 lg:table-row flex-row flex-wrap lg:flex-no-wrap">
                <td th:text="${(page.currentPage -1)*page.pageSize+(index.count)}"></td>
                <td th:text="${item.studentName}"
                    th:classappend="${item.status} == 1 ? 'text-blue-600' : (${item.status} == 2 ? 'text-yellow-400' : 'text-red-600')"></td>
                <td th:text="${item.studentCode}"
                    th:classappend="${item.status} == 1 ? 'text-blue-600' : (${item.status} == 2 ? 'text-yellow-400' : 'text-red-600')"></td>
                <td th:text="${item.theory1}"
                    th:classappend="${item.status} == 1 ? 'text-blue-600' : (${item.status} == 2 ? 'text-yellow-400' : 'text-red-600')"></td>
                <td th:text="${item.skill1}"
                    th:classappend="${item.status} == 1 ? 'text-blue-600' : (${item.status} == 2 ? 'text-yellow-400' : 'text-red-600')"></td>
                <td th:text="${item.theory2}"
                    th:classappend="${item.status} == 1 ? 'text-blue-600' : (${item.status} == 2 ? 'text-yellow-400' : 'text-red-600')"></td>
                <td th:text="${item.skill2}"
                    th:classappend="${item.status} == 1 ? 'text-blue-600' : (${item.status} == 2 ? 'text-yellow-400' : 'text-red-600')"></td>
                <td th:text="${item.retestTheory}"
                    th:classappend="${item.status} == 1 ? 'text-blue-600' : (${item.status} == 2 ? 'text-yellow-400' : 'text-red-600')"></td>
                <td th:text="${item.retestSkill}"
                    th:classappend="${item.status} == 1 ? 'text-blue-600' : (${item.status} == 2 ? 'text-yellow-400' : 'text-red-600')"></td>
                <td th:text="${item.status}  == 1 ? 'Qua môn' : (${item.status} == 2 ? 'Thi lại' : 'Học lại')"
                    th:classappend="${item.status} == 1 ? 'text-blue-600' : (${item.status} == 2 ? 'text-yellow-400' : 'text-red-600')"></td>
            </tr>
            <tr th:if="${#lists.isEmpty(findAll)}">
                <td colspan="9">Không có dữ liệu</td>
            </tr>
            </tbody>
        </table>
        <div th:replace="~{fragment/common/home/phan-pages :: page}"></div>
    </div>
<!--    <div class="mr-8 ml-20 lg:flex xl:text-base ">-->
<!--        <div class="lg:mt-1 text-base mt-4 mr-1 text-xl text-center w-full">Thống kê điểm theo lớp</div>-->
<!--    </div>-->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <canvas id="myChart1" class="mt-10 w-full mx-auto" style="width:150%;max-width:900px; margin-bottom: 20px"></canvas>
    <canvas id="myChar2" class="mt-10 w-full mx-auto" style="width:150%;max-width:900px; margin-bottom: 20px"></canvas>
    <canvas id="myChar3" class="mt-10 w-full mx-auto" style="width:150%;max-width:900px;"></canvas>

    <script>
        var sumQuaMon = [[${findAll.sumQuaMon}]]
        var sumThiLai = [[${findAll.sumThiLai}]]
        var sumHocLai = [[${findAll.sumHocLai}]]

        var xValues = ["Qua môn", "Thi lại", "Học lại"];
        var yValues = [sumQuaMon , sumThiLai, sumHocLai];
        var barColors = ["blue", "yellow","red"];

        new Chart("myChart1", {
            type: "bar",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                legend: {display: false},
                title: {
                    display: true,
                    text: "Biểu đồ kết quả thi"
                },
                scales: {
                    yAxes: [{
                        display: true,
                        stacked: true,
                        ticks: {
                            min: 0, // minimum value
                            max: 30 // maximum value
                        }
                    }]
                }
            }
        });

        var xValues = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"];
        var yValues = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];
        var barColors = ["#ff0000", "#ff6666","#ff8c1a", "#ffcc00", "#ffff00", "#ccff66", "#66ff66", "#00ffcc", "#00ccff", "#0066ff" ];

        new Chart("myChar2", {
            type: "bar",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                legend: {display: false},
                title: {
                    display: true,
                    text: "Biểu đồ phổ điểm Lý Thuyết"
                },
                scales: {
                    yAxes: [{
                        display: true,
                        stacked: true,
                        ticks: {
                            min: 0, // minimum value
                            max: 30 // maximum value
                        }
                    }]
                }
            }
        });


        var xValues = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"];
        var yValues = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10];
        var barColors = ["#ff0000", "#ff6666","#ff8c1a", "#ffcc00", "#ffff00", "#ccff66", "#66ff66", "#00ffcc", "#00ccff", "#0066ff" ];

        new Chart("myChar3", {
            type: "bar",
            data: {
                labels: xValues,
                datasets: [{
                    backgroundColor: barColors,
                    data: yValues
                }]
            },
            options: {
                legend: {display: false},
                title: {
                    display: true,
                    text: "Biểu đồ phổ điểm Thực Hành"
                },
                scales: {
                    yAxes: [{
                        display: true,
                        stacked: true,
                        ticks: {
                            min: 0, // minimum value
                            max: 30 // maximum value
                        }
                    }]
                }
            }
        });
    </script>
    <div class="mr-8 ml-20 lg:flex xl:text-base ">
        <div class="lg:mt-1 text-base mb-10 mr-1 text-xl text-center w-full">Điểm thi</div>
    </div>
</div>
</body>
</html>