<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="body" class="w-5/6  pt-10">
    <div class="w-11/12 mx-auto">
        <table class="w-full tableRounded mt-5">
            <thead>
            <tr class=" text-white " style="background: #4A96CA">
                <th>STT</th>
                <th>Tên sinh viên</th>
                <th>Lý thuyết 1</th>
                <th>Lý thuyết 2</th>
                <th>Thực hành 1</th>
                <th>Thực hành 1</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>1</td>
                <td>Nguyễn Văn A</td>
                <td>8</td>
                <td></td>
                <td>7</td>
                <td></td>
            </tr>
            <tr>
                <td>2</td>
                <td>Nguyễn Văn A</td>
                <td>4</td>
                <td>9</td>
                <td>7</td>
                <td></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Nguyễn Văn A</td>
                <td>8</td>
                <td></td>
                <td>4</td>
                <td></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>