<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
    <div th:fragment="header"
        class="h-24 w-full border-b border-gray-200 flex justify-between items-center bg-gray-100 px-10 z-50">
        <div class="rounded-full h-50 w-50 flex justify-center items-center ml-35">
            <img th:src="@{/images/logo_1591255072.png}" class=" mt-10"
                style="margin-top: 25px;margin-bottom: 20px;width: 250px">
        </div>
        <div class="text-red-600 text-2xl font-bold">Website quản lý điểm học viện công nghệ BKACAD</div>
        <div class=" rounded-full h-14 w-14 relative menu2 flex justify-center items-center mr-5">

            <img th:src="@{/images/GVUMY7xKt.png}" class=" mt-3"
                style="margin-top: 25px;margin-bottom: 20px;width: 170px">

            <div class="w-52 border absolute right-0 top-16 menu2Child bg-white">
                <a th:classappend="${#httpServletRequest.requestURI.contains('/thong-tin-ca-nhan') ? 'bg-gray-500' : 'bg-blue-400 '}"
                   href="/thong-tin-ca-nhan"
                    class="w-full h-12 flex items-center pl-2 mt-1 transition duration-300 hover:bg-gray-400">Thông
                    tin cá nhân</a>
                <div
                    class="w-full bg-blue-300 h-12 flex items-center pl-2 mt-1 transition duration-300 hover:bg-gray-400">
                    Đăng xuất</div>

            </div>
        </div>
    </div>
</body>

</html>