<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div th:fragment="header2"
     class="h-24 w-full border-b border-gray-200 flex justify-between items-center bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 px-10 z-auto">
    <div class="rounded-full h-50 w-50 flex justify-center items-center ml-40">
        <img th:src="@{/images/logo_1591255072.png}" class=" mt-10"
             style="margin-top: 25px;margin-bottom: 20px;width: 250px">
    </div>
    <div class="text-white text-2xl font-bold italic hover:not-italic">Website quản lý điểm học viện công nghệ BKACAD</div>
</div>
</body>

</html>