<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="menuLeft" class="w-1/6 bg-gray-200 min-h-screen absolute left-0 top-0 pt-32 px-1 rounded">
        <div class="relative border border-gray-500 bg-white xl:rounded-xl xl:h-8 xl:w-40 lg:h-7 lg:w-64 xl:mt-0 lg:mt-0 mt-3 xl:ml-0 lg:ml-0 ml-4 rounded-md w-full h-7 lg:rounded-lg flex items-center justify-between"></div>
        <div class="w-full bg-blue-400 hover:bg-gray-500 text-white transition duration-300 h-12 flex items-center pl-2 mt-3"> Quản lý ngành</div>
        <div class="w-full bg-blue-400 hover:bg-gray-500 text-white transition duration-300 h-12 flex items-center pl-2 mt-3"> Quản lý khóa</div>
        <div class="w-full bg-blue-400 hover:bg-gray-500 text-white transition duration-300 h-12 flex items-center pl-2 mt-3"> Quản lý lớp</div>
        <div class="w-full bg-blue-400 hover:bg-gray-500 text-white transition duration-300 h-12 flex items-center pl-2 mt-3"> Quản lý sinh viên</div>
        <div class="w-full bg-blue-400 hover:bg-gray-500 text-white transition duration-300 h-12 flex items-center pl-2 mt-3"> Quản lý môn học</div>
        <div class="w-full bg-blue-400 hover:bg-gray-500 text-white transition duration-300 h-12 flex items-center pl-2 mt-3"> Quản lý môn điểm</div>
        <div class="w-full bg-blue-400 hover:bg-gray-500 text-white transition duration-300 h-12 flex items-center pl-2 mt-3"> Quản lý môn điểm</div>
        <div class="w-full bg-blue-400 hover:bg-gray-500 text-white transition duration-300 h-12 flex items-center pl-2 mt-3"> Thống kê</div>


    </div>
</body>
</html>
