<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:fragment="footer" class="inset-x-0 bottom-0 h-82 w-full border-b border-gray-300 flex justify-between items-center px-10  z-1000" style="background: #99ccff">
  <div class="w-11/12 mx-auto text-center mt-5">
<!--    <div class="text-red-600 text-2xl font-bold justify-center italic ">Đây là footer </div>-->


    <div class="flex flex-col md:flex-row">

      <div class="flex flex-col w-full md:w-2/4 mx-0 md:mx-4">
        <span class="block font-bold text-xl mb-4">Liên hệ</span>
        <span class="block text-md mb-0 font-medium">Nhà A17, 17 Tạ Quang Bửu, Hai Bà Trưng, Hà Nội, Việt Nam</span>
        <span class="block text-md mb-0 font-medium">SĐT: (84) 2438684321</span>
        <span class="block text-md mb-0 font-medium">Email: contact@bkholdings.com.vn</span>
      </div>
      <div class="flex flex-col w-full md:w-2/4 mx-0 md:mx-4">
        <span class="block font-bold text-xl mb-6">Đơn vị bảo trợ</span>
        <div class="flex w-full">
          <div class="mb-2 ml-24">
            <a href="https://bkacad.edu.vn/">
              <img src="/images/logo_1591255072.png" alt="" title=" Học viện Công nghệ BKACAD">
            </a>
          </div>
        </div>
      </div>
    </div>
      <span class="block text-sm font-medium text-center sm:mb-4">Bản quyền © 2022 thuộc về Học Viện Bkacad</span>
      <div class="flex md:absolute relative justify-center md:right-40">
        <a href="http://www.bkaccad.com.vn/" class="mx-1 ml-24 justify-center">
          <img src="/images/footer/website.png" alt="">
        </a>
      </div>
  </div>
</div>
</body>

</html>
