.tableRounded1 {
    border-collapse: separate;
    border-spacing: 0;
    min-width: 350px;
}
.tableRounded1 tr th {
    padding: 5px;
}
.tableRounded1 tr td {
    padding: 5px;
    padding-left: 16px;
}
.tableRoundedHover:hover td{
   background:#E1E3E4;
}
.tableRounded1 tr td:first-child{
    border-bottom: 1px solid #aeb3b9;
    border-left: 1px solid #aeb3b9;
}
.tableRounded1 tr td{
    border-bottom: 1px solid #aeb3b9;
    background: white;
    height: 50px;
    font-weight: 500;
}
.tableRounded1 tr td:last-child{
    border-bottom: 1px solid #aeb3b9;
    border-right: 1px solid #aeb3b9;
}
.tableRounded1 tr th{
    font-weight: 400;
}
.tableRounded1 tr th:first-child{
    border-bottom: 1px solid #aeb3b9;
    border-left: 1px solid #aeb3b9;
}
.tableRounded1 tr th{
    border-bottom: 1px solid #aeb3b9;
    border-top: 1px solid #aeb3b9;
}
.tableRounded1 tr th:last-child{
    border-bottom: 1px solid #aeb3b9;
    border-right: 1px solid #aeb3b9;
}
/* bottom-left border-radius */
.tableRounded1 tr:last-child td:first-child {
    border-bottom-left-radius: 6px;
}
/* bottom-right border-radius */
.tableRounded1 tr:last-child td:last-child {
    border-bottom-right-radius: 6px;
}
.header{
    border-left: 1px solid #aeb3b9;
    border-right: 1px solid #aeb3b9;
    border-top: 1px solid #aeb3b9;
}
.header1{
    border-left: 1px solid #aeb3b9;
    border-right: 1px solid #aeb3b9;
    border-bottom: 1px solid #aeb3b9;
}
.tableRounded2 {
    border-collapse: separate;
    border-spacing: 0;
    min-width: 350px;
}
.tableRounded2 tr th {
    padding: 5px;
}
.tableRounded2 tr td {
    padding: 5px;
    padding-left: 16px;
}
.tableRounded2 tr:hover td{
    background:#E1E3E4;
}
.tableRounded2 tr td:first-child{
    border-bottom: 1px solid #aeb3b9;
    border-left: 1px solid #aeb3b9;
}
.tableRounded2 tr td{
    border-bottom: 1px solid #aeb3b9;
    background: white;
    height: 50px;
    font-weight: 500;
}
.tableRounded2 tr td:last-child{
    border-bottom: 1px solid #aeb3b9;
    border-right: 1px solid #aeb3b9;
}
.tableRounded2 tr th{
    font-weight: 400;
}
.tableRounded2 tr th:first-child{
    border-bottom: 1px solid #aeb3b9;
    border-left: 1px solid #aeb3b9;
}
.tableRounded2 tr th{
    border-bottom: 1px solid #aeb3b9;
    border-top: 1px solid #aeb3b9;
}
.tableRounded2 tr th:last-child{
    border-bottom: 1px solid #aeb3b9;
    border-right: 1px solid #aeb3b9;
}