<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quản lý sinh viên</title>
    <link rel="stylesheet" th:href="@{/css/tailwind.css}">

    <link th:href="@{/css/pages/common/modal.css}" th:rel="stylesheet"/>
    <link th:href="@{/css/menu.css}" th:rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/pages/home/index.css}">
    <link th:href="@{/css/pages/common/cutText.css}" th:rel="stylesheet"/>
    <link th:href="@{/css/tableMode.css}" th:rel="stylesheet"/>
    <link th:href="@{/css/pages/common/modal.css}" th:rel="stylesheet"/>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
</head>
<body>
<div class="z-50 sticky">
    <div th:replace="~{fragment/header/header :: header}"></div>
</div>
<div class="flex justify-end">
    <div class="w-2/12">
        <div th:replace="~{fragment/common/home/menu-left :: menuLeft}"></div>
    </div>
    <div class="w-10/12">
        <div th:replace="~{fragment/body/home/quan-ly-sinh-vien :: quan-ly-sinh-vien}"></div>
        <div th:replace="~{fragment/footer/footer :: footer}"></div>
    </div>
</div>
<script th:src="@{/js/pages/loi-moi/popup.js}"></script>
</body>
</html>