<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thống kê điểm</title>
    <link rel="stylesheet" th:href="@{/css/tailwind.css}">

    <link th:href="@{/css/pages/common/modal.css}" th:rel="stylesheet"/>
    <link th:href="@{/css/menu.css}" th:rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/css/pages/home/index.css}">
    <link th:href="@{/css/pages/common/cutText.css}" th:rel="stylesheet"/>
    <link th:href="@{/css/tableMode.css}" th:rel="stylesheet"/>
    <link th:href="@{/css/pages/common/modal.css}" th:rel="stylesheet"/>
</head>
<body>
<div class="z-50 sticky">
    <div th:replace="~{fragment/header/header :: header}"></div>
</div>
<div class="flex justify-end">
    <div class="w-2/12">
        <div th:replace="~{fragment/common/home/menu-left :: menuLeft}"></div>
    </div>
    <div class="w-10/12">
        <div th:replace="~{fragment/body/home/thong-ke-diem :: thong-ke-diem}"></div>
        <div th:replace="~{fragment/body/home/Char :: Char}"></div>
        <div th:replace="~{fragment/footer/footer :: footer}"></div>
    </div>
</div>
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>-->
</body>
</html>