<div class="modal-content w-6/12  my-10 mx-auto">
    <div class="modal-header h-14 w-full flex justify-between items-center px-10">
        <div class="text-xl ">Sửa lớp</div>
        <span class="close transition duration-300 closeModalEdit">&times;</span>
    </div>
    <div class="w-full p-5">
        <div class=" z-50">
            <form th:method="PUT" action="/updateGrade" onsubmit="return checkEditValidate()">
                <div class="modal-body p-10">

                    <div class="flex justify-between">
                        <div class="w-2/3">
                            <label class="font-medium mr-28">Tên Ngành</label>
                            <div>
                                <select  class="mb-4 shadow appearance-none border rounded w-11/12  py-2 px-3 text-gray-700
                                leading-tight focus:outline-none focus:shadow-outline" name="majorId">
                                    <th:block th:each="item,index : ${nganh}">
                                        <option th:value="${item.id}" th:text="${item.name}"
                                                th:selected="${data.majorId == item.id ? true : false}"></option>
                                    </th:block>
                                </select>
                                <input type="hidden" id="idNganh" name="majorId">
                            </div>
                        </div>
                    </div>

                    <div>
                        <label class="font-medium mr-28">Tên lớp</label>
                        <div>
                            <input id="editName" type="text" class="mb-4 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700
                                leading-tight focus:outline-none focus:shadow-outline" name="name"
                                   th:value="${data.name}"/>
                            <input type="hidden" th:value="${data.id}" name="id">
                            <div class="text-sm text-red-600" id="errEditName"></div>
                        </div>
                    </div>

                    <div class="flex justify-end mt-10">
                        <div
                                onclick="closeModal()"
                                class="closeModal flex justify-center items-center cursor-pointer w-28 rounded h-10 border border-black mr-5 hover:bg-gray-200 transition duration-300
                                        ">Hủy
                        </div>

                        <button class="w-28 rounded h-10 border border-black text-white btnSubmit transition duration-300"
                                id="submit">Gửi
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function closeModal() {
        var modalClose = document.getElementById("myModal");
        console.log(123)
        modalClose.style.display = "none";
    }
</script>
