<div class="modal-content w-6/12 mx-auto my-10">
    <div class="modal-header h-14 w-full flex justify-between items-center px-10">
        <div class="text-xl ">Sửa sinh viên</div>
        <span class="close transition duration-300 closeModalEdit">&times;</span>
    </div>
    <div class="w-full p-5">
        <div class=" z-50">
            <form th:method="PUT" action="/updateStudent">
                <div class="modal-body p-10">

                    <div class="flex justify-between">
                        <!--                        //Tên-->
                        <div class="w-2/3">
                            <label class="font-medium mr-28">Tên sinh viên</label>
                            <div>
                                <input type="text" name="fullName" class="mb-4 shadow appearance-none border rounded w-11/12  py-2 px-3 text-gray-700
                                leading-tight focus:outline-none focus:shadow-outline" th:value="${data.fullName}"/>
                                <input type="hidden" th:value="${data.id}" name="id">
                            </div>
                        </div>
                        <!--                        //Mã sinh viên-->
                        <div class="w-1/3">
                            <label class="font-medium mr-28">Mã sinh viên</label>
                            <div>
                                <input  type="text" name="studentCode" class="mb-4 shadow appearance-none border rounded w-full  py-2 px-3 text-gray-700
                                leading-tight focus:outline-none focus:shadow-outline" th:value="${data.studentCode}"/>
<!--                                <input type="hidden" id="studentCode" name="studentCode">-->
                            </div>
                        </div>
                    </div>
                    <!--                        //Email-->
                    <div>
                        <label class="font-medium mr-28">Email</label>
                        <div>
                            <input  type="text" name="email" class="mb-4 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700
                                leading-tight focus:outline-none focus:shadow-outline" th:value="${data.email}"/>
<!--                            <input type="hidden" id="email" name="email">-->
                        </div>
                    </div>

                    <!--                        //Sdt-->
                    <div>
                        <label class="font-medium mr-28">Số điện thoại</label>
                        <div>
                            <input  type="text" name="phone" class="mb-4 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700
                               leading-tight focus:outline-none focus:shadow-outline" th:value="${data.phone}"/>
<!--                            <input type="hidden" id="phone" name="phone">-->
                        </div>
                    </div>

                    <!--                        //Lớp-->
                    <div class="flex my-5">
                        <div>
                            <label class="font-medium mr-6">Lớp</label>
                            <div class="font-medium mr-48 ml-4">
                                <select class="border rounded-lg w-56 h-10" name="gradeId">
<!--                                    <option value="" hidden>Chọn Lớp</option>-->
                                    <th:block th:each="item,index : ${lop}">
                                        <option th:value="${item.id}" th:text="${item.name}"
                                                th:selected="${data.gradeId == item.id ? true : false}"></option>
                                    </th:block>
                                </select>
<!--                                <input type="hidden" id="idGrade" name="gradeId">-->
                            </div>
                        </div>

                        <!--                        //Ngày sinh-->
                        <div>
                            <label class="font-medium mr-6">Ngày sinh</label>
                            <div class="leading-10 font-medium mr-3">

                                <div>
                                    <input type="date" name="birthday" class="mb-4 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700
                                        leading-tight focus:outline-none focus:shadow-outline" th:value="${data.birthday}"/>
<!--                                    <input type="hidden" id="date" name="birthday">-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--                        //Giới tính-->
                    <div class="flex my-5">
                        <label class="font-medium mr-6">Giới tính</label>
                        <div style="color: #007DC5"></div>
                        <div class="ml-10 flex my-5">
                            <label>Nam
                                <input type="radio" name="gender" class="mr-3 mt-1 outline-none callType"
                                       th:value="1" th:checked="${data.gender == 1 ? true : false }">
                                <!--                                    <input type="hidden" id="gender" name="gender">-->
                            </label>
                        </div>
                        <div class="ml-10 flex my-5">
                            <label>Nữ
                                <input type="radio" name="gender" class="mr-3 mt-1 outline-none callType"
                                       th:value="0" th:checked="${data.gender != 1 ? true : false }">
                                <!--                                    <input type="hidden" id="gender" name="gender">-->
                            </label>
                        </div>
                    </div>

                    <!--                        //địa chỉ-->

                    <div class="mt-3">
                        <label class="font-medium mr-4">Địa chỉ</label>
                        <div>
                            <input class="mb-4 shadow appearance-none border rounded w-full py-2 px-3 text-gray-700
                                leading-tight focus:outline-none focus:shadow-outline" name="address" th:value="${data.address}"/>
<!--                            <input type="hidden" id="address" name="address">-->
                        </div>
                    </div>

                    <div class="flex justify-end mt-10">
                        <div
                                onclick="closeModal()"
                                class="closeModal flex justify-center items-center cursor-pointer w-28 rounded h-10 border border-black mr-5 hover:bg-gray-200 transition duration-300
                                        ">Hủy
                        </div>

                        <button class="w-28 rounded h-10 border border-black text-white btnSubmit transition duration-300"
                                id="submit">
                            Gửi
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

