<div class="modal-content w-5/12 mx-auto my-10">
    <div class="modal-header h-14 w-full flex justify-between items-center px-10">
        <div class="text-xl ">Sửa môn chuyên ngành</div>
        <button><span class="closeModal transition duration-300">&times;</span></button>
    </div>

    <form th:method="PUT" action="/updateSubjectDetail" onsubmit="return checkEditValidate()">
        <div class="modal-body p-10">

            <div class="flex justify-between">
                <!--                        //Tên-->
                <div class="w-7/12 mr-12">
                    <label class="font-medium mr-28">Tên môn</label>
                    <div>
                        <input id="editName" type="text" name="name" class="mb-4 shadow appearance-none border rounded w-full  py-2 px-3 text-gray-700
                                leading-tight focus:outline-none focus:shadow-outline" th:value="${data.name}"/>
                        <input type="hidden" th:value="${data.id}" name="id">
                        <div class="text-sm text-red-600" id="errEditName"></div>
                    </div>
                </div>

                <div class="w-4/12">
                    <label class="font-medium mr-28">Loại môn</label>
                    <div>
                        <input  class="border rounded-lg w-48 h-10 pl-6" name="type" th:value="${data.type}" readonly>
                    </div>
                </div>
            </div>

            <div class="flex justify-between">
                <!--                        //Tên-->
                <div class="mr-12">
                    <label class="font-medium mr-28">Tên ngành</label>
                    <div>
                        <div>
                            <select id="majorId" class="border rounded-lg w-72 h-10" name="majorId">
                                <th:block th:each="item,index : ${nganh}">
                                    <option th:value="${item.id}" th:text="${item.name}"
                                            th:selected="${data.majorId == item.id ? true : false}"></option>
                                </th:block>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <!--                        //Lý thuyết-->
            <div class="flex my-5">

                <label class="font-medium mr-6">Lý thuyết</label>

                <div style="color: #007DC5"></div>
                <div class="ml-10 flex my-5">
                    <label>Có
                        <input type="radio" name="theory" class=" mt-1 outline-none callType"
                               th:value="${data.theory}" th:checked="${data.theory == true ? true : false }">
                    </label>
                </div>

                <div class="ml-10 flex my-5">
                    <label>Không
                        <input type="radio" name="theory" class=" mt-1 outline-none callType"
                               th:value="${data.theory}" th:checked="${data.theory != true ? true : false }">
                    </label>
                </div>
            </div>

            <!--                        //Thực hành-->
            <div class="flex my-5">
                <label class="font-medium mr-6">Thực hành</label>
                <div style="color: #007DC5"></div>
                <div class="ml-10 flex my-5">
                    <label>Có
                        <input type="radio" name="skill" class="mr-3 mt-1 outline-none callType"
                               th:value="${data.skill}" th:checked="${data.skill == true ? true : false }">
                    </label>
                </div>
                <div class="ml-10 flex my-5">
                    <label>Không
                        <input type="radio" name="skill" class="mr-3 mt-1 outline-none callType"
                               th:value="${data.skill}" th:checked="${data.skill != true ? true : false }">
                    </label>
                </div>
            </div>

            <!--                        //Số giờ-->

            <div class="w-2/3">
                <label class="font-medium mr-28">Số giờ</label>
                <div>
                    <input id="editDuration" type="number" name="duration" class="mb-4 shadow appearance-none border rounded w-full  py-2 px-3 text-gray-700
                                leading-tight focus:outline-none focus:shadow-outline" th:value="${data.duration}"/>
                    <div class="text-sm text-red-600" id="errEditDuration"></div>
                </div>
            </div>

            <div class="flex justify-end mt-10">
                <div
                        onclick="closeModal()"
                        class="closeModal flex justify-center items-center cursor-pointer w-28 rounded h-10 border border-black mr-5 hover:bg-gray-200 transition duration-300
                                        ">Hủy
                </div>

                <button class="w-28 rounded h-10 border border-black text-white btnSubmit transition duration-300"
                        id="submit">
                    Gửi
                </button>
            </div>
        </div>
    </form>
</div>